@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import 'scss/variables';
@import 'scss/animations';

* {
  box-sizing: border-box;
  @include no-select-text;  
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0 auto;

  font-size: $base-font-size;

  font-size: 16px;

  @media screen and (max-width: $mid-screen-min-w){
      font-size: 18px;
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.25rem;
  color: $dark-gray;
  text-align: center;
}

main {
  @include flex-center(column);
  padding: 5rem 0;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  @include flex-center(column);
  
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;

  @media (max-width: 600) {
    width: 100%;
  
  }
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: ease 1s all;

  &:hover, &:focus, &:active {
    @include text-and-border-color($blue);
  }

  &:not(:hover) {
    p {
      display: none;
    }
  }

  h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

}



.logo {
  height: 1em;
}

button {
  border: 3px solid $dark-gray;
  padding: 0.5rem;
  font-family: 'Roboto', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  
  background-color: rgba($gray, 0.6);
  transition: ease 0.4s all, ease 0.01s z-index;
  transform: scale(1);
  border-radius: 0;
  
  &:not([disabled]) {
    
    cursor: pointer;
    border: 3px solid $black;
    
    &:hover, &.active, &.focus {
      border-radius: 5px;
      background-color: rgba($black, 1);
      color: $white;
      transform: scale(1.25);
      z-index: 1;
    }
  }    
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  label {
    padding: 0.25rem;
  }

  input {

    @include select-text;

    display: block;
    width: 100%;
  }
}