@import 'scss/variables';
@import 'scss/animations';

.userPanel {

    $avatar-size: 64px;

    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    img {
        border: 3px ridge $gray;
        border-radius: 50%;
        width:      $avatar-size;
        height:     $avatar-size;
        max-width:  $avatar-size;
        max-height: $avatar-size;
    }

    p {
        position: relative;
        left: -0.5rem;
        border: 3px ridge $gray;
        border-left: none;

        background: $black;
        color: $white;
        padding: 0.5rem;
    }

}