@import 'scss/variables';
@import 'scss/animations';

.header {
    margin-top: 0;
    width: 100%;

    @media screen and (max-width: $mid-screen-min-w) {
        h1, h2 {
            padding: 0;
            font-size: 1.15rem;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #efefff;
        padding: 1rem;
        

    }
    
    @media screen and (min-width: $mid-screen-min-w) {
        
    }    
    
}

.buttonGroup {
    @include flex-center(row);

    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    
    button {
        border: none;
        display: block;
        color: $white;
    }
}

.hint {


    margin: 1rem 0;
    border-radius: 5px;
    background-color: $white;
    border: solid 1px $light-gray;
    box-shadow: 3px 3px 3px rgba($gray, 0.4);
    width: 100%;

    padding: 0.5rem;
    line-height: 1.5rem;
    text-align: center;
    animation: showVertical 0.4s;
}