@keyframes showHint {
    from {
        transform: scaleY(0);
    } 
    to {
        transform: scaleY(1);
    }
}

.header {

    @media screen and (max-width: 482px) {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #efefff;
        padding: 1rem;

        h1, h2 {
            padding: 0;
            font-size: 1rem;
        }
    }    
}

.hint {
    background-color: #ddf;
    padding: 0.5rem;
    line-height: 1.5rem;
    text-align: center;
    animation: showHint 0.4s;
}