
@keyframes heartOn {
    0% {
        color: #000;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.5)
    }
    100% {
        color: #f00;
        transform: scale(1);
    }
}

@keyframes heartOff {
    0% {
        color: #f00;
        transform: scale(1);
    }
    30% {
        transform: scale(1.5)
    }
    100% {
        color: #000;
        transform: scale(0.5);
    }
}

.heart {

    text-shadow: 1px 1px 0px black;
    font-family: sans-serif;

    &.on {
        color: red;
        animation: heartOn 0.4s;
    }

    &.off {
        color: black;
        animation: heartOff 0.4s;
        transform: scale(0.5);
    }
}
